<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gameobjects | Display ID Browser</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <div class="container text-center">
        {% for row in gameobjects| batch(4, '&nbsp;') %}
        <div class="row p-5">
        {% for go in row %}
        <div class="col">
            <div>

                <img width="250" height="120" src="https://geo-tp.github.io/Model-Viewer/static/gameobjects/{{ go.display_id }}.png">
            </div>
            <div class="mt-1">
                <h4>
                    <span class="badge text-bg-muted text-center" title="Display Id">{{ go.display_id }}</span>
                </h4>
            </div>
        </div>
        {% endfor %}
        </div>
        {% endfor %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>